


.Logo {
  max-width: 90px;
}

.nav-item{
  font-size: 32px;
  font-family: 'Kaisei Opti';
}

.nav-item:not(:last-child) {
  padding-right: 100px;
}

.foot {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto; 
  width: 100%;
}

.back {
  background-image: url(https://github.com/malb0020/portfolio/blob/main/images/mountainsunbg.png);
  background-size:  100%;
  background-position: center;
  
}









/* Add your custom styles here */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
  }
  