body {
  font-family: 'kaisei opti';
}


.Logo {
  max-width: 90px;
}

/* Font family for the entire body */
body {
  font-family: 'kaisei opti';
}

/* Navbar styles */
.navbar {
  background-color: #787B8D;
}

/* Logo styling */
.Logo {
  max-width: 90px;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
  box-shadow: 5px 5px 0px 0px #0D0D0D, 7px 7px 0px 0px #262626;
  border-radius: 50px;
}

/* Logo hover effect */
.Logo:hover {
  transform: rotateZ(-30deg);
}

/* Styling for navbar items */
.nav-item {
  font-size: 32px;
  font-family: 'Kaisei Opti';
}

/* Margin for navbar items except the last one */
.nav-item:not(:last-child) {
  padding-right: 100px;
}

/* Navbar item hover effect */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E68A00;
  box-shadow: 5px 5px #80002D, 6px 6px #80002D, 7px 7px #80002D;
  transform: translateX(-3px);
  border-radius: 50px;
  background-color: #202D40;
}
/* Navbar item transition effect */
.navbar-dark .navbar-nav .nav-link {
  transition: all 0.2s ease-in-out;
}
/* Styling for text overlay */
.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  font-family: 'Kaisei Opti';
  color: whitesmoke;
}

/* Styling for text overlay heading */
.text-overlay h2 {
  font-size: 64px;
}

/* Styling for text overlay paragraph */
.text-overlay p {
  font-size: 16px;
}


main {
  background-color: #331924;
}

 /* Style for the gallery */
 .gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}

.showcase {
  padding-top: 100px;
}












.foot {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto; 
  width: 100%;
}

.back {
  background-image:url("/images/mountainsunbg.png") ;
  background-repeat: no-repeat;
  height: 1024px;
}

.sunbg {
  max-width: 100%;
  text-align: center;
}

/* Styling for footer paragraph */
footer p {
  background-color: #0D1218;
  padding-top: 50px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  color: whitesmoke;
}

/* Styling for social links container */
.social-links {
  text-align: center;
}

/* Styling for social links */
.social-link {
  display: flex;
  font-size: 24px;
  color: #333;
}

/* Styling for social link icon */
.social-link i {
  margin-right: 5px;
}

/* Styling for Facebook */
.facebook {
  color: #3b5998;
}

/* Styling for Twitter */
.twitter {
  color: #1da1f2;
}

/* Styling for Instagram */
.instagram {
  color: #c13584;
}

/* Styling for LinkedIn */
.linkedin {
  color: #0077b5;
}

/* Styling for YouTube */
.youtube {
  color: #ff0000;
}

/* Styling for container links */
.containerlinks {
  background-color: #0D1218;
  padding: 0;
}