body {
    font-family: 'kaisei opti';
  }
  

.shutter {
    border-radius:300px;
   z-index: -1;
    
}
.container {
    position:relative;
    max-width: 100%;
    text-align: center;
    
}


  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    z-index: 1;
   float: initial;
   transform: translate(0px, -500px);
  }



.container {
    height: 1024px;
    
    
}



.mb-3 input {
    background-color: #BBD3E8;
    border-radius: 20px;
    width: 352px;
    height: 73px;
    font-size:24px ;
    font-family: 'Kaisei Opti';
}

.Discover {
    background-color: #3E4F59;
    color: #BBD3E8;
    border-radius: 30px;
    width: 185px;
    height: 60px;
    font-size: 24px;
    font-family: 'Kaisei Opti';
}

